<div class="topText">{{ 'application_name' | translate:'{ name: application.name }' }} > {{ chapter.chapter }}</div>
<div class="bottomText">{{ storyService.active_chapter.about.title }}</div>

<div class="menuItem">
    <i class="fa fa-angle-right"></i>
    <a href="#" ng-click="updateMenuSection('selectedChapter' + chapter.id); updateTourStep(5)">Back to Selected Chapter</a>
</div>

<div class="menuItem">
    <label for="chapterTitle">Chapter Title</label><i class="fa fa-question-circle" tooltip-append-to-body="true"
                 tooltip-placement="right" tooltip="{{ 'chapter_title_tooltip' | translate }}"></i>
    <input ng-model="storyService.active_chapter.about.title" class="form-composer" type="text" name="chapterTitle" id="chapterTitle"/>
</div>

<div class="menuItem">
    <label for="chapterSummary">Chapter Summary</label><i class="fa fa-question-circle" tooltip-append-to-body="true"
                 tooltip-placement="right" tooltip="{{ 'chapter_summary_tooltip' | translate }}"></i>
    <textarea rows="20" ng-model="storyService.active_chapter.about.abstract" class="form-composer" name="chapterSummary" id="chapterSummary"></textarea>
</div>

<div class="menuItem">
    <label for="defaultzoom">Chapter View</label>
    <div>
        <button ng-click="storyService.saveChapterView()" class="btn-composer btn-block" name="defaultzoom" id="defaultzoom"> Save Current Zoom </button>
    </div>
</div>

<div class="menuItem">
    <label for="playbackSettings">Data Playback</label>
    <button ng-click="storyService.setDataPlayback()" type="button" class="btn-composer btn-block">Cumulative button</button>
<!--     <div class="btn-group btn-group-justified" data-toggle="buttons">
        <div class="btn btn-composer active">
            <input type="radio" name="instantPlayback" id="instantPlayback" autocomplete="off" checked> Instant
        </div>
        <div class="btn btn-composer">
            <input type="radio" name="cumulativePlayback" id="cumulativePlayback" autocomplete="off"> Cumulative
        </div>
    </div> -->
</div>
<div class="menuItem">
    <button ng-click="storyService.save()" type="button" class="btn-composer btn-block">Save Chapter Info</button>
</div>